.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 60px;
  background-color: rgb(255, 85, 85);
  color: white;
  font-size: large;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
.content--inputs{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vrank{
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 15px;
  width:auto;
  margin: 10px;
  overflow: hidden;
  cursor:pointer;
}


.vrankloading{
  gap: 15px;
  width:auto;
  margin: 10px;
  cursor:progress;
}

